
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    width: 100px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для списка задач */
ul {
    list-style-type: none;
    padding: 0;
    width: 800px;
}

li {
    margin-bottom: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-add{
    width: 300px;
}


.delete-button {
    background-color: #dc3545;
    margin-left: 10px;
    padding: 10px 20px;
    white-space: nowrap;
}

.delete-button:hover {
    background-color: #c82333;
}

.todo-item span {
    flex-grow: 1; /* Позволяет тексту задачи занимать оставшееся пространство */
    padding-right: 10px; /* Отступ между текстом и кнопкой */
    overflow-wrap: break-word; /* Позволяет переносить длинные слова */
}


